*.py[cod]
*.egg-info
__pycache__

*.so
*.dylib
*.dll

/adis16470/include
/adis16470/rpy-include
/adis16470/_init_adis16470.py
/adis16470/pkgcfg.py
/adis16470/version.py

/docs/_build
/docs/_sidebar.rst.inc

.cache
.coverage
build
dist
*.json
/adis16470/_adis16470.cp37-win_amd64.pyd
examples/adis16740/opkg_cache/python38_3.8.1-r0_cortexa9-vfpv3.ipk
examples/adis16740/opkg_cache/python38_3.8.1-r0_cortexa9-vfpv3.ipk.jmd
examples/adis16740/opkg_cache/python38-pyntcore_2020.2.2.2_cortexa9-vfpv3.ipk
examples/adis16740/opkg_cache/python38-pyntcore_2020.2.2.2_cortexa9-vfpv3.ipk.jmd
examples/adis16740/opkg_cache/python38-robotpy-hal_2020.2.2.0_cortexa9-vfpv3.ipk
examples/adis16740/opkg_cache/python38-robotpy-hal_2020.2.2.0_cortexa9-vfpv3.ipk.jmd
examples/adis16740/opkg_cache/python38-robotpy-wpiutil_2020.2.2.0_cortexa9-vfpv3.ipk
examples/adis16740/opkg_cache/python38-robotpy-wpiutil_2020.2.2.0_cortexa9-vfpv3.ipk.jmd
examples/adis16740/opkg_cache/python38-wpilib_2020.2.2.10_cortexa9-vfpv3.ipk
examples/adis16740/opkg_cache/python38-wpilib_2020.2.2.10_cortexa9-vfpv3.ipk.jmd
examples/adis16740/opkg_cache/Packages/httpsdownload.ni.comni-linux-rtfeeds2019armcortexa9-vfpv3
examples/adis16740/opkg_cache/Packages/httpsdownload.ni.comni-linux-rtfeeds2019armcortexa9-vfpv3.jmd
examples/adis16740/opkg_cache/Packages/httpswww.tortall.netrobotpyfeeds2020
examples/adis16740/opkg_cache/Packages/httpswww.tortall.netrobotpyfeeds2020.jmd
examples/adis16740/pip_cache/pynetworktables-2020.0.2.tar.gz
examples/adis16740/pip_cache/robotpy-wpilib-utilities-2020.1.1.tar.gz
